.s {
  margin-bottom: $space*16;
}

.s1 {
  margin-bottom: $space*12
}

.s2 {
  margin-bottom: $space*8
}

.s3 {
  margin-bottom: $space*6
}

.s4 {
  margin-bottom: $space*4;
}

.s5 {
  margin-bottom: $space*2;
}

.s6 {
  margin-bottom: $space;
}

.s-header {
  border-bottom: $border-light;
  padding-bottom: $space/2;
  margin-bottom: $space*8;
}

.s-sub {
  padding: $space 0;
}

.s-number {
  color: $color-type-secondary;
  @include type-size(body);
  margin-right: $space*2;
}
