.ui-btn, button, input[type="submit"] {
  display: inline-block;
  font-weight: bold;
  background-color: $color-link;
  color: $color-white;
  border: 0;
  @include ui-btn-height($space*8);
  padding: 0 1.5em;
  text-align: center;
  @include border-radius($ui-border-radius);

  &:hover {
    color: $color-white;
    background-color: lighten($color-link, 10);
  }
}

.ui-btn-set {
  > * {
    display: inline-block;
    margin-bottom: $space/2;
  }
}

.ui-btn-large {
  @extend .ui-btn;
  @include type-size(large);
  @include ui-btn-height($space*3);
}
